<blockquote class="tweet-card">
    <div class="tweet-header">
        <a class="tweet-profile" href="https://twitter.com/{{user.screen_name}}">
            <img src="{{user.profile_image_url_https}}" alt="Avatar for {{user.screen_name}}"/>
        </a>
        <div class="tweet-author">
            <a class="tweet-author-name" href="https://twitter.com/{{user.screen_name}}">
                {{user.name}}
                </a>
            <a class="tweet-author-handle" href="https://twitter.com/{{user.screen_name}}">
            @{{user.screen_name}}
            </a>
        </div>
        <a class="tweet-bird" href="https://twitter.com/{{user.screen_name}}/status/{{id_str}}">
            <div class="tweet-bird-icon"role="presentation"
                 aria-label="View on Twitter" title="View on Twitter" ></div>
        </a>
    </div>
    <p class="tweet-body">
        {{htmlText | safe}}
    </p>
    <div class="tweet-images">
        {% for img in images %}
            <img alt='Image from Tweet' src='{{img}}' />
        {% endfor %}
    </div>
    <div class="tweet-footer">
        <a class="tweet-like" href="https://twitter.com/intent/like?tweet_id={{id_str}}">
            <div class="tweet-like-icon" aria-label="Like" title="Like" role="img"></div>
            <span class="tweet-like-count">
                {% if favorite_count %}{{favorite_count}}{% endif %}
            </span>
        </a>
        <a class="tweet-date" title="Time Posted: {{created_at.meta}}"
           href="https://twitter.com/{{user.screen_name}}/status/{{id_str}}">
            {{created_at.display}}
        </a>
    </div>
</blockquote>
