<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover" > 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    {# Theme color for browser chrome (chrome android) #}
    <meta name="theme-color" content="#1da1f2">

    {# Primary Meta Tags #}
    <title>{{title}}</title>
    <meta name="title" content="{{title}}">
    <meta name="description" content="A brief guide on how to server side render a tweet">

    <link rel="stylesheet" href="/assets/site.css">
    <link rel="stylesheet" href="/assets/tweet.css">
</head>
<body class="page">

    <header>
       <h1> {{title}} </h1>
    </header>

    <main class="content">
        
        {{ content | safe }}

    </main>

    <footer>
        <nav class="nav">
            <ul>
                <li><a href="/">Read Me</a></li>
                <li><a href="/static/">Static Embed</a></li>
                <li><a href="/client/">Client Embed</a></li>
            </ul>
        </nav>
    </footer>

</body>
</html>
